@model CV 

@{
    ViewData["Title"] = "CV";
}

<h1>@Model.Name</h1>
<h2>@Model.Title</h2>
<p>@Model.Description</p>

<div class="container bg-primary opacity-75">
    <h3>Experience</h3>
    <ul>
        @foreach (var experience in Model.Experiences)
        {
            <li>
                <strong>@experience.Establishment</strong> - @experience.Role
                <p>@experience.Period</p>
                <ul>
                    @foreach (var task in experience.Tasks)
                    {
                        <li>@task</li>
                    }
                </ul>
            </li>
        }
    </ul>
</div>


<h3>Education</h3>
<ul>
    @foreach (var education in Model.Educations)
    {
        <li>
            @education.Institution - @education.CertificateType
            <p>@education.Grade</p>
            <p>@education.Date</p>
        </li>
    }
</ul>

<h3>Certifications</h3>
<ul>
    @foreach (var cert in Model.Certifications)
    {
        <li>@cert.Institution - @cert.Certificate</li>
    }
</ul>

<hr>


